Architectures et Technologies en Sciences des Données/TP6-Dask/TP06_02_wc/data/wordcount2.txt
ML Sequence/2-TP-HMM Training Etudiant/samples/MNIST_2digitsDifficile.pkl
ML Sequence/3-TP-Neuro-HMM Etudiant/MNIST_5digitsDifficile.pkl